{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/styles.css' %}">
</head>
<body>
    <div class="wrapper">
        <header>
            <h1 class="test-element">Spotify Dashboard</h1>
        </header>
		<form method="post" action="{% url 'add_all_songs_to_database' %}">
			{% csrf_token %}
			<button type="submit">Add All Songs to Database</button>
		</form>

        <div class="container">
            <div class="main-menu">
                <a href="{% url 'view_top_artists' %}">View Top Artists</a>
                <a href="{% url 'view_last_50_songs' %}">View Recently Played</a>
                <a href="{% url 'view_top_genres' %}">View Top Genres</a>
                <a href="{% url 'view_top_songs' %}">View Top Songs</a>
                <a href="{% url 'get_recommendations' %}">Recommendations</a>
            </div>
        </div>
        <footer>
        </footer>
    </div>
</body>
</html>